@font-face {
    font-family: Nunito;
    src: url("../assets/fonts/Nunito-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Nunito;
    src: url("../assets/fonts/Nunito-Regular.ttf");
}
body {
    font-family: "Nunito", Helvetica, Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}
header {
    height: 70px;
    width: 100%;
    padding: 10px 0;
}
header img {
    height: 50px;
    margin-left: 5%;
}
#globalcontainer {
    width: 90%;
    margin: auto;
}
footer {
    background-color: rgb(247, 247, 247);
    margin-top: 40px;
    padding: 20px;
}
#logo-cont {
    display: flex;
    margin-bottom: 20px;
}
#logo-cont img {
    margin-right: 10px;
    object-fit: cover;
}
#logo-cont h4, #logo-cont p {
    margin: 0;
}
footer a {
    color: black;
    text-decoration: none;
    display: block;
}